<li [ngClass]="{'list-group-item': true,
				'col-md-4': true,
				'list-group-item-success': loveIts > 0,
				'list-group-item-danger': loveIts < 0}">
  <h3>{{title}}</h3>
  <div class="pull-right">{{created_at|date}}</div>
  <p>{{content}}</p>
  <div class="btn-group">
	<button type="button" class="btn btn-danger" (click)="dontLoveIt()">
		<fa name="heart"></fa>
	</button>
	<button type="button" class="btn btn-light" disabled>
		{{loveIts}}
	</button>
	<button type="button" class="btn btn-success" (click)="loveIt()">
		<fa name="heart"></fa>
	</button>
  </div>
  {{created_at|date}}
</li>
